/* Responsive */
@media (max-width: 1199.98px) {
  .section-two .inner-wrap .inner-title {
    font-size: 55px;
  }

  .section-three .inner-image {
    right: 0;
  }

  .section-three .inner-main .inner-content {
    width: 70%;
  }

  .section-three .inner-main .inner-desc {
    font-size: 55;
  }

  .section-seven .inner-list .inner-item h5 {
    font-size: 22px;
  }
}

/* Kích thước nhỏ hơn 992px */
@media (max-width: 991.98px) {
  .header .inner-icon-mobile {
    display: block;
    font-size: 30px;
    cursor: pointer; /* khi hover con con trỏ thành bàn tay  */
  }

  .header .inner-menu {
    display: none;
  }

  .header .inner-social {
    display: none;
  }

  .header2 .menu-bar-responsive {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .section-one .inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .section-one .inner-wrap .inner-desc {
    width: 80%;
  }

  .section-two .inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .section-two .inner-wrap .inner-image {
    width: 100%;
    margin-right: 0;
    height: auto;
  }

  .section-two .inner-wrap .inner-content {
    margin: 45px 0 0 0;
  }

  .section-two .inner-wrap .inner-title {
    font-size: 55px;
  }

  .section-three .inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-three .inner-wrap .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .section-three .inner-content .inner-desc {
    font-size: 48px;
  }

  .section-three .inner-wrap .inner-image {
    position: relative;
    bottom: auto;
    width: 60%;
  }

  .section-four .inner-wrap .inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .section-four .inner-list {
    /* flex-direction: column; */
    align-items: center;
  }

  .section-four .inner-list .inner-item {
    width: calc(100% / 2);
    margin-bottom: 25px;
  }

  .section-five .inner-main .inner-item {
    width: 45%;
  }

  .section-six .inner-main {
    flex-direction: column;
  }

  .section-six .inner-main .inner-content {
    width: 80%;
    margin-bottom: 20px;
  }

  .section-six .inner-main .inner-list {
    width: 80%;
  }

  .section-six .inner-main .inner-content .inner-strong-desc {
    font-size: 48.64px;
  }

  .section-seven .inner-main .inner-list .inner-item {
    width: 46%;
  }

  .section-seven .inner-list .inner-item h5 {
    font-size: 25.6px;
  }

  .section-eight .inner-main .inner-info {
    padding: 32px 16px;
  }

  .section-eight .inner-info .inner-list {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section-eight .inner-info .inner-list .inner-item {
    width: 45%;
    margin-bottom: 8px;
  }

  .button-section-eight {
    margin-left: 0;
    margin-top: 5px;
  }

  .section-nine .inner-main .inner-list {
    justify-content: space-around;
  }

  .section-nine .inner-main .inner-list .inner-item {
    width: 46%;
  }

  .section-ten .inner-main .inner-form .form-line {
    width: 100%;
  }
}

/* Kích thước nhỏ hơn 768px */
@media (max-width: 767.98px) {
  .section-one .inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section-one .inner-wrap .inner-desc {
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
  }

  .section-one .inner-wrap .inner-title {
    font-size: 40px;
  }

  .section-one .inner-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-one .inner-button .button {
    margin: 8px 0 8px 0;
  }

  .section-two .inner-wrap .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-two .inner-content .inner-title {
    text-align: center;
    font-size: 45px;
    max-width: 70%;
  }

  .section-two .inner-content .inner-desc {
    text-align: center;
  }

  .section-two .inner-content .inner-list {
    justify-content: space-around;
  }

  .section-three .inner-content .inner-desc {
    font-size: 40px;
  }

  .section-three .inner-wrap .inner-image {
    width: 80%;
  }

  .section-four .inner-list .inner-item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .section-four .inner-list {
    flex-direction: column;
    align-items: center;
  }

  .section-five .inner-main .inner-item {
    width: 100%;
  }

  .section-six .inner-main .inner-content {
    width: 90%;
    margin-bottom: 15px;
  }

  .section-six .inner-main .inner-list {
    width: 90%;
  }
  
  .section-six .inner-main .inner-content .inner-strong-desc {
    font-size: 35.64px;
  }

  .section-seven .inner-main .inner-item {
    margin-bottom: 20px;
  }

  .section-seven .inner-main .inner-content p {
    font-size: 17px
  }

  .section-seven .inner-main .inner-content h3 {
    font-size: 50px;
  }

  .section-nine .inner-main .inner-list .inner-item {
    width: 100%;
  }

  .section-ten .inner-main .inner-content {
    text-align: center;
  }

  .section-ten .inner-main .inner-content h4 {
    font-size: 16px;
  }

  .section-ten .inner-main .inner-content h3 {
    font-size: 43.5px;
  }

  .section-ten .inner-main .inner-form .form-button {
    justify-content: center;
  }
}

/* Kích thước nhỏ hơn 576px */
@media (min-width: 275.98px) and (max-width: 575.98px) {
  .section-one .inner-wrap .inner-desc {
    font-size: 16px;
    padding: 0 20px;
    width: 100%;
    text-align: center;
  }

  .section-one .inner-wrap .inner-title {
    font-size: 40px;
  }

  .section-two .inner-content .inner-title {
    font-size: 35px;
    max-width: 70%;
  }

  .section-two .inner-content .inner-desc {
    font-size: 16px;
    /* width: 60%; */
  }

  .section-two .inner-content .inner-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .section-two .inner-list .inner-item {
    margin-right: 0;
    margin: 15px;
  }

  .section-three .inner-content .inner-title {
    font-size: 16px;
  }

  .section-three .inner-content .inner-desc {
    font-size: 35px;
  }

  .section-three .inner-wrap .inner-image {
    width: 90%;
  }

  .section-six .inner-main .inner-content {
    width: 100%;
    margin-bottom: 15px;
  }

  .section-six .inner-main .inner-list {
    width: 100%;
  }
  .section-six .inner-main .inner-sub-title strong{
    font-size: 15px;
  }

  .section-six .inner-main .inner-content .inner-strong-desc {
    font-size: 30px;
  }

  .section-seven .inner-main .inner-content p {
    font-size: 17px
  }

  .section-seven .inner-main .inner-content h3 {
    font-size: 45px
  }

  .section-seven .inner-main .inner-list .inner-item {
    width: 100%;
    margin-bottom: 25px;
  }

  .section-nine .inner-main .inner-list .inner-item {
    width: 100%;
  }

  .section-nine .inner-main .inner-content h3 {
    font-size: 57px;
  }

  .section-nine .inner-main .inner-content p {
    font-size: 16px;
  }

  .section-nine .inner-main .inner-list .inner-item p {
    font-size: 22.8px;
  }

  .section-nine .inner-main .inner-list .inner-item .inner-item-box-info p {
    font-size: 22.8px;
  }

  .section-nine .inner-main .inner-list .inner-item .inner-item-box-info h6 {
    font-size: 16px;
  }

  .section-ten .inner-main .inner-content h4 {
    font-size: 15.6px;
  }

  .section-ten .inner-main .inner-content h3 {
    font-size: 35.5px;
  }
}


@media (max-width: 539.98px) {
  .section-eight .inner-info .inner-list {
    justify-content: center;
  }

  .section-eight .inner-info .inner-list .inner-item {
    width: 100%;
    text-align: center;
  } 
}


@media (max-width: 475.98px) {
  .section-two .inner-content .inner-title {
    font-size: 30px;
    max-width: 70%;
  }

  .section-three .inner-content .inner-desc {
    font-size: 30px;
  }

  .section-six .inner-main .inner-list .inner-item .fa-arrow-right-long {
    display: none;
  }

  .section-six .inner-main .inner-strong-desc {
    text-align: justify;
  }

  .section-seven .inner-main .inner-content p {
    font-size: 16px
  }

  .section-seven .inner-main .inner-content h3 {
    font-size: 40px
  }

  .section-ten .inner-main .inner-content h3 {
    font-size: 30px;
  }
}

@media (max-width: 425.98px) {
  .section-two .inner-content .inner-title {
    font-size: 25px;
    max-width: 70%;
  }

  .section-six .inner-main .inner-list .inner-item {
    justify-content: center;
  }

  .section-six .inner-main .inner-list .inner-item-box p {
    margin: 0;
  }

  .section-six .inner-main .inner-list .inner-item .fa-solid {
    display: none;
    padding: 0;
  }

  .section-six .inner-main .inner-list .inner-item-box {
    justify-content: center;
  }

  .section-eight .inner-info .inner-list .inner-item h3{
    font-size: 16px;
  } 

  .section-eight .inner-info .inner-list .inner-item h2{
    font-size: 16px;
  } 
}

@media (max-width: 365.98px) {
  .button-section-eight {
    padding: 12px 22px;
  }
}
/* End Responsive */
