/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header .inner-wrap {
  display: flex;
  padding: 15px 50px;
  align-items: center;
  justify-content: space-between;
}

.header .inner-logo a {
  display: flex;
  align-items: center;
}

.header .inner-logo span {
  font-size: 27px;
  font-weight: 600;
  margin-left: 10px;
  color: var(--color-text);
}

.header .inner-logo img {
  height: 50px;
  width: auto;
}

.header .inner-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.header .inner-menu ul li a {
  display: inline-block;
  padding: 22px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
}

.header .inner-menu ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #171616;
  transition: transform 0.3s ease-in-out;
  transform: scale(0);
}

.header .inner-menu ul li a:hover::after {
  transform: scale(1);
}

.header .inner-social ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.header .inner-social ul li a {
  background: #fff;
  display: inline-flex;
  width: 47px;
  height: 47px;
  border-radius: 10px;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
}

.header .inner-social ul li a i {
  color: #000;
  font-size: 24px;
}
/* End Header */

/* Section One */
.section-one {
  background-image: url(../images/background11.jpg);
  background-size: cover;
  padding: 8rem 0;
  position: relative;
}

.section-one::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

.section-one .inner-wrap {
  position: relative;
  width: 50%;
}

.section-one .inner-wrap .inner-sub-title {
  color: #fff;
  font-size: 18px;
  margin: 0px;
}

.section-one .inner-wrap .inner-title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin: 15px 0 30px 0;
}

.section-one .inner-wrap .inner-desc {
  color: #bbbbbb;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 35px;
}

.section-one .button {
  margin-right: 15px;
}
/* End Section One*/

/* Button */
.button {
  color: var(--color-text);
  background: var(--color-two);
  border-radius: 6px;
  border: 2px solid #fff;
  padding: 18px 38px;
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
}

.button:hover {
  color: var(--color-text);
}

.button-two {
  background: var(--color-two);
  color: var(--color-text);
  border-color: var(--color-two);
}

.button-two:hover {
  background: var(--color-three);
  border-color: var(--color-three);
  transition: 0.3s ease-in-out;
}

.button-two-outline {
  background: transparent;
  color: #fff;
}

.button-two-outline:hover {
  background: var(--color-two);
  border-color: var(--color-two);
  transition: 0.4s ease-in-out;
}
/* End Button */

/* Section Two */
.section-two {
  padding: 96px 0 16px;
  background: var(--bg-1);
}

.section-two .inner-wrap {
  display: flex;
  align-items: center;
}

.section-two .inner-wrap .inner-image {
  width: 43%;
  margin-right: 7%;
}

.section-two .inner-wrap .inner-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.section-two .inner-wrap .inner-content {
  /* width: 50%; */
  flex: 1; /* flex: 1 = width: 50% */
}

.section-two .inner-wrap .inner-sub-title {
  color: #716f6f;
  font-size: 18px;
  font-weight: 700;
}

.section-two .inner-wrap .inner-title {
  font-size: 65px;
  font-weight: 700;
  margin: 22px 0;
}

.section-two .inner-wrap .inner-list {
  display: flex;
  width: 100%;
}

.section-two .inner-list .inner-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  width: 140px;
  height: 140px;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.section-two .inner-list .inner-item2 {
  margin-right: 0;
}

.section-two .inner-list .inner-item i {
  color: var(--color-one);
  font-size: 35px;
  margin-bottom: 15px;
}

.section-two .inner-list .inner-item span {
  font-size: 16px;
  font-weight: 600;
}

.section-two .inner-wrap .inner-desc {
  color: #8b8a8a;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 20px 0;
  width: 85%;
}
/* End Section Two */

/* Section Three */
.section-three {
  padding: 112px 0 96px;
  background: var(--bg-1);
}

.section-three .inner-wrap {
  position: relative;
  background: #fff;
  border-radius: 10px;
}

.section-three .inner-main {
  width: 100%;
  position: relative;
}

.section-three .inner-main .inner-content {
  width: 60%;
  padding: 48px;
}

.section-three .inner-content .inner-title {
  color: #777777;
  font-size: 18px;
  font-weight: 700;
}

.section-three .inner-content .inner-desc {
  font-size: 60px;
  font-weight: 700;
  margin: 13.5px 0;
}

.section-three .inner-image {
  width: 30%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 50px;
}

.section-three .inner-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
/* End Section Three */

/* Section Four */
.section-four .inner-wrap {
  padding: 80px 0;
}

.section-four .inner-content {
  width: 100%;
}

.section-four .inner-content .inner-title {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 16px;
}

.section-four .inner-content .inner-desc {
  text-align: justify;
  font-size: 17.6px;
  color: #777777;
  margin: 0 0 32px;
}

.section-four .inner-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.section-four .inner-list .inner-item {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  margin: 0 0 32px;
}

.section-four .inner-list .inner-item span {
  font-size: 17.6px;
  color: #777777;
  padding: 0 0 0 16px;
}

.section-four .inner-list .inner-item .inner-tick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #efefef;
}
/* End Section Four */

/* Section Five */
.section-five {
  background: var(--bg-1);
}

.section-five .inner-wrap {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-five .inner-wrap .inner-title {
  font-size: 60.8px;
  font-weight: 600;
}

.section-five .inner-wrap .inner-main {
  width: 100%;
  margin-top: 32px;
}

.section-five .inner-main .inner-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-five .inner-list .inner-item {
  width: calc(100% / 3 - 3%);
  border-radius: 10px;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
  background: #fff;
}

.section-five .inner-list .inner-item img {
  /* width: 348px; */
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.section-five .inner-item .inner-content {
  width: 100%;
}

.section-five .inner-item .inner-content-box {
  padding: 32px 40px;
}

.section-five .inner-item .inner-tick {
  position: absolute;
  bottom: 95px;
  right: 30px;
  background-color: #fff;
  width: 60.8px;
  height: 60.8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-five .inner-item .inner-tick i {
  font-size: 22px;
}

.section-five .inner-item .inner-content .inner-sub-title {
  font-size: 16px;
  color: #777777;
  font-weight: 700;
}

.section-five .inner-item .inner-content strong {
  font-size: 25.6px;
  font-weight: 700;
  display: block;
}
/* End Section Five */

/* Section Six */
.section-six {
  background: #1b2026;
  padding: 128px 0;
}

.section-six .inner-wrap {
  background: #fff;
  border-radius: 10px;
}

.section-six .inner-wrap .inner-main {
  width: 100%;
  display: flex;
  padding: 64px;
  align-items: center;
  justify-content: center;
}

.section-six .inner-wrap .inner-content {
  width: 60%;
  padding: 0 15px;
}

.section-six .inner-wrap .inner-sub-title strong {
  color: #777777;
  font-size: 17.6px;
  font-weight: 700;
  margin-bottom: 8px;
}

.section-six .inner-content .inner-strong-desc {
  font-size: 60.8px;
  font-weight: 700;
}

.section-six .inner-wrap .inner-list {
  width: 40%;
  padding: 0 15px;
}

.section-six .inner-main .inner-list .inner-item {
  border: 1px solid #eae5e5;
  border-radius: 10px;
  padding: 16px;
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-six .inner-main .inner-list .inner-item-box {
  width: 80%;
  display: flex;
  align-items: center;
}

.section-six .inner-main .inner-list .inner-item-box p {
  font-size: 17.6px;
  margin: 0 0 4px 16px;
  font-weight: 600;
}

.section-six .inner-main .inner-list i {
  color: #131212;
  font-size: 24px;
}
/* End Section Six */

/* Section Seven */
.section-seven {
  background: var(--bg-1);
  padding: 80px 0;
}

.section-seven .inner-main .inner-content {
  margin: 0 0 48px;
  text-align: center;
}

.section-seven .inner-main .inner-content p {
  margin: 0 0 8px;
  font-size: 17.6px;
  color: #777777;
  font-weight: 700;
}

.section-seven .inner-main .inner-content h3 {
  font-size: 60.8px;
  font-weight: 700;
}

.section-seven .inner-main .inner-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.section-seven .inner-main .inner-item {
  width: 23%;
  margin-bottom: 25px;
  padding: 48px 0 0;
  background: #fff;
  border-radius: 10px;
}

.section-seven .inner-main .inner-item .inner-image {
  width: 100%;
  padding: 0 51px;
  overflow: hidden;
}

.section-seven .inner-main .inner-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.section-seven .inner-main .inner-info {
  padding: 32px 32px 12px;
  text-align: center;
}

.section-seven .inner-main .inner-info h5 {
  font-size: 25.6px;
  font-weight: 700;
}

.section-seven .inner-main .inner-info h6 {
  font-size: 16px;
  font-weight: 500;
  color: #777777;
}
/* End Section Seven */

/* Section Eight */
.section-eight {
  padding: 0 0 96px;
  background: var(--bg-1);
}

.section-eight .inner-main .inner-background {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
}

.section-eight .inner-main .inner-background img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.section-eight .inner-main .inner-info {
  padding: 16px 32px;
  margin: -48px 55.4px 0;
  background: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.section-eight .inner-main .inner-list {
  display: flex;
  align-items: center;
}

.section-eight .inner-main .inner-list .inner-item {
  width: 25%;
  padding: 0 15px;
}

.section-eight .inner-list .inner-item h3 {
  margin: 0 0 8px;
  font-size: 17.6px;
  color: #777777;
  font-weight: 500;
}

.section-eight .inner-list .inner-item h2 {
  margin: 0 0 8px;
  font-size: 17.6px;
  font-weight: 700;
}

.button-section-eight {
  margin: 0 0 8px;
  padding: 18px 45px;
  background: #121212;
  color: #fff;
  margin-left: 16px;
  margin-right: 0;
}

.button-section-eight:hover {
  color: #fff;
  background: #1d1c1c;
}
/* End Section Eight */
